<!DOCTYPE html>
<html>
<head>
	<title>Catalog</title>
	<style>
		table, th, td {
			border: 1px solid black;
		}
	</style>
</head>
<body>
	{% extends 'del3/base.html' %}

	{% block content %}
	<h1>Product List</h1>
	<table>
		<tr>
			{% for attrib in attribs %}
			<th>{{attrib.name}}</th>
			{% endfor %}
			{% if user.is_staff %}
				<th>Delete</th>
			{% endif %}
		</tr>
		{% for product in product_list %}
		<tr>
			<td>{{product.product_id}}</td>
			<td>{{product.name}}</td>
			<td>{{product.color}}</td>
			<td>{{product.quantity_stocked}}</td>
			<td>{{product.personalization_limit}}</td>
			<td>{{product.price}}</td>
			{% if user.is_staff %}
				<td><a href="{% url 'catalog:delete_product' product_id=product.pk %}">X</a></td>
			{% endif %}
		</tr>
		{% endfor %}

		{% if user.is_staff %}
		<a href='/catalog/add'>Add a product</a>
		{% endif %}
	{% endblock %}
</body>
</html>