<!DOCTYPE html>
<html>
<head>
	<title>Orders</title>
	<style>
		table, th, td {
			border: 1px solid black;
		}
	</style>
</head>
<body>
	{% extends 'del3/base.html' %}

	{% block content %}
	<h1>Order List</h1>
	<table>
		<tr>
			{% for attrib in attribs %}
			<th>{{attrib.name}}</th>
			{% endfor %}
		</tr>
		{% for order in order_list %}
		<tr>
			<td>{{order.order_id}}</td>
			<td>{{order.agent_id}}</td>
			<td>{{order.issue_date}}</td>
			<td>{{order.issue_time}}</td>
			<td>{{order.delivery_date}}</td>
			<td>{{order.delivery_time}}</td>
		</tr>
		{% endfor %}
	{% endblock %}
</body>
</html>