<!DOCTYPE html>
<html>
<head>
	<title>Orders</title>
	<style>
		table, th, td {
			border: 1px solid black;
		}
	</style>
</head>
<body>
	{% extends 'del3/base.html' %}

	{% block content %}
	<h1>Order List</h1>
	<table>
		<tr>
			{% for attrib in attribs|slice:":3" %}
			<th>{{attrib.name}}</th>
			{% endfor %}
			<th>recipient</th>
			{% for attrib in attribs|slice:"3:" %}
			<th>{{attrib.name}}</th>
			{% endfor %}
			<th>summary</th>
		</tr>
		{% for order in order_list %}
		<tr>
			<td>{{order.order_id}}</td>
			<td>{{order.agent_id}}</td>
			<td>{{order.recipient_id}}</td>
			<td>{{order.recipient_id.first_name}} {{order.recipient_id.last_name}}</td>
			<td>{{order.issue_date}}</td>
			<td>{{order.issue_time}}</td>
			<td>{{order.delivery_date}}</td>
			<td>{{order.delivery_time}}</td>
			<td>Agent {{order.agent_id}} {{order.agent_id.first_name}} in charge of Order {{order.order_id}} sent to Recipient {{order.recipient_id}} {{order.recipient_id.first_name}}</td>	
		</tr>
		{% endfor %}
	</table>
	<h1>Order Contents</h1>
	<table>
		<tr>
			<th>order id</th>
			<th>product id</th>
			<th>name</th>
			<th>color</th>
			<th>personalization</th>
			<th>quantity ordered</th>
			<th>discount</th>
		</tr>
		{% for content in content_list %}
		<tr>
			<td>{{content.order_id}}</td>
			<td>{{content.product_id}}</td>
			<td>{{content.product_id.name}}</td>
			<td>{{content.product_id.color}}</td>
			<td>{{content.personalization}}</td>
			<td>{{content.quantity_ordered}}</td>
			<td>{{content.discount}}</td>
		{% endfor %}
	</table>
	{% endblock %}
</body>
</html>